.desc {
  position: relative;
  @include adaptiveClamp('padding-top', 80, 60, 1920, 768, 1);
  @include adaptiveClamp('padding-bottom', 150, 112, 1920, 768, 1);
  @include adaptiveClamp('margin-bottom', 564, 280, 1920, 768, 1);
  background-color: #F3F3F3;

  @include media(540) {
    margin-bottom: 0;
    padding-top: rem(30);
    padding-bottom: rem(43);
  }

  // .desc__container
  &__container {}

  // .desc__text
  &__text {
    max-width: rem(820);
    margin: 0 auto;
    color: #141414;
    text-align: center;
    font-family: Rawline;
    @include adaptiveClamp('font-size', 21, 16, 1920, 768, 1);
    line-height: normal;
    font-weight: 400;
    text-transform: uppercase;

    @media(min-width:1023px) and (max-width:1440px) {
      max-width: rem(820);
      font-size: 21px;
    }

    @include media(540) {
      font-size: rem(14);
      line-height: prc(26, 14);
      margin-bottom: rem(30);
    }
  }

  // .desc__media
  &__media {}
}

.slider-desc {
  position: absolute;
  left: 50%;
  @include adaptiveClamp('top', 298, 220, 1920, 768, 1);
  transform: translateX(-50%);

  @include media(726) {
    @include adaptiveClamp('top', 240, 300, 726, 540, 1);
  }

  @include media(540) {
    position: static;
    transform: translate(0);
  }

  // .slider-desc__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: rem(20);


    @include media(726) {
      column-gap: rem(12);
    }

    @include media(540) {
      column-gap: rem(0);
      padding-bottom: rem(22);
    }
  }

  // .slider-desc__image-ibg
  &__image-ibg {
    @include adaptiveClamp('width', 400, 200, 1920, 768, 1);
    @include adaptiveClamp('height', 460, 272, 1920, 768, 1);

    @include media(540) {
      width: 100%;
      height: rem(480);
    }

    img {
      position: relative;
      height: 100%;
      object-position: center;
    }
  }

  // .slider-desc__progress-bar
  &__progress-bar {
    &.swiper-pagination {
      top: auto;
      bottom: 0;
      background-color: transparent;
      height: rem(3);

      .swiper-pagination-progressbar-fill {
        background-color: #141414;
      }

    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: rem(1);
      background-color: #141414;
    }
  }
}