// =====================================================================================================================
.header {
  width: 100%;
  background-color: #fff;
  // .header__container
  &__container {
    height: rem($headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(510) {
      height: rem($headerHeight - 15);
    }
  }
  // .header__logo
  &__logo {
    width: rem(104);
    height: rem(50);
    @include media(768) {
      order: 2;
    }
    @include media(510) {
      order: 1;
      width: rem(83);
      height: rem(42);
    }
  }
  // .header__link
  &__link {
    display: flex;
    align-items: center;
    column-gap: rem(16);
    @include media(510) {
      .header__link-text {
        display: none;
      }
    }
    // .header__link_mail
    &_mail {
      @include media(768) {
        order: 1;
      }
      @include media(510) {
        order: 2;
        margin-left: auto;
        margin-right: rem(34);
      }
    }
    // .header__link_phone
    &_phone {
      @include media(768) {
        order: 3;
      }
      @include media(510) {
        order: 3;
      }
    }
  }
  // .header__link-icon
  &__link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(36);
    height: rem(36);
    @include media(768) {
      width: rem(30);
      height: rem(30);
    }
  }
  // .header__link-text
  &__link-text {
    font-size: rem(21);
    line-height: prc(31, 21);
    @include media(768) {
      font-size: rem(16);
      line-height: prc(26, 16);
    }
  }
}
